body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.calculator {
    width: 300px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.display {
    grid-column: span 4;
    background-color: #444;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.button {
    background-color: #666;
    color: #fff;
    border: none;
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.operator {
    background-color: #f36;
}

#clear {
    grid-column: span 2;
}

#equals {
    background-color: #f36;
    color: #fff;
}
